footer 
    height: 400px
    display: flex
    flex-direction: column
    div:first-of-type
        height: 350px
        background-color: #3676bb
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        p:nth-of-type(2)
            display: flex
            justify-content: center
            align-items: center
    div:nth-of-type(2)
        height: 50px
        background-color: #363b47
        display: flex
        justify-content: center