main
    section:first-of-type 
        background-color: #e8e6e0
        height: 350px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 15px
        div
            display: flex
            flex-direction: column
            align-items: center
            line-height: 0
            margin-top: 70px
            p
                font-size: 30px
                color: #8a878d
            p:nth-of-type(1)
                margin-bottom: 10px
                #program
                    color: white
                    background-color: #26a2cc
                    padding: 5px
            p:nth-of-type(2)
                #complexity 
                    color: #26a2cc
                    font-weight: bold
                #simple
                    color: #69747f
                    font-weight: bold
        p
            font-size: 30px
            color: #8a878d
    section:nth-of-type(2)
        height: 1100px
        div:first-of-type
            display: flex
            align-items: center
            justify-content: center
            gap: 40px
            height: 50%
            .card
                width: 300px
                height: 350px
                background-color: #e2e0e0
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                border-radius: 5px
                div:first-of-type
                    .icon
                        width: 40px
                        height: 40px
                        padding: 7px
                        background-color: white
                        border-radius: 50%
                        display: flex
                        align-items: center
                        justify-content: center
                        margin-top: 20px
                .title        
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center 
        div:nth-of-type(2)
            display: flex
            justify-content: space-around
            align-items: center
            div:nth-of-type(1)
                display: flex
                flex-direction: column
                align-items: flex-start
                justify-content: center
                a
                    text-decoration: none
                    color: white
                    background-color: #26a2cc
                    padding: 20px
                    border-radius: 3px
            div:nth-of-type(2)
                display: flex
                flex-direction: row
                align-items: center
                justify-content: center
                gap: 5px
                .cards 
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    div
                        img
                            width: 230px
                            height: 150px
                    .cards-text
                        display: flex
                        flex-direction: column
                        background-color: #38485f
                        color: white
                        width: 230px

               
      
        

            